
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=DotGothic16&display=swap');


body {
    margin:0;
    font-family: Arial, sans-serif;
 
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(73, 73, 73, 0.7)),url(grain-background.png);
    background-position: center;
    background-size: stretch;
    background-repeat: repeat;
  }
.header{
    position:relative;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(73, 73, 73, 0.7)),url(denji-manga.jpg);
    background-position: center;
    background-size: cover;
    width:100%;
    height: 700px;
    bottom: 80px; /* .navbar has margin-bottom: 20px; */
}

nav{
    max-height: 3vh;
    display:flex;
    padding:2% 10px;
    justify-content:right;
    align-items:right;
    position: sticky !important;
    top:0;
    z-index: 1000;

}


nav img{
    max-width: 5vw;
    max-height:15vh;
    object-fit: cover;
}
.nav-links{
    flex:1;
    text-align: right;
    text-shadow: 1px 1px 10px;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
    position: sticky;
}
.nav-links ul li a{
    color: orange;
    text-shadow: 1px 1px 5px orange;
    text-decoration: none;
    font-size:13px;
    overflow: hidden;
}
.nav-links ul li::after{
    content:'';
    background-color: orange;
    width: 0%;
    height:4px;
    background: orange;
    display: block;
    margin: auto;
    transition: 0.5s;
    opacity: 0%;
}
.nav-links ul li:hover::after{
    width: 100%;
    opacity: 100%;
    background-color: orange;
}
.nav-text{
    flex:1;
    text-align: left;
    text-shadow: 1px 1px 10px;
    color:orange;
    padding:10px;
    font-size: larger;
}

/* Biography */
.bio{
    width:80%;
    margin:left;
    justify-content: left;
}
.title{
    font-size:larger;
    justify-content: left;
    text-align: center;
}



/* course */
/*   .course{
    width:80%;
    margin:auto;
    text-align:center;
    padding-top:100px;
}
h1{
    font-size:36px;
    font-weight:600;
}
p{
    color:#524956;
    font-size:14px;
    font-weight:300;
    line-height:22px;
    padding:10px;
}
.row{
    margin-top:5%;
    display:flex;
    justify-content:space-between;
}
.course-col{
    flex-basis:31%;
    background:#777;
    border-radius:12px;
    margin-bottom:5%;
    padding:20px 12px;
    box-sizing:border-box;
    transition:0.7s;
}
h3{
    text-align: center;
    font-weight:600;
    margin:10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
} */




/* Group */
.group{      
    margin:0px;
    padding:0px;
    width :100%;
    display:flex;
    justify-content: center;
}
.item{
    padding:20px;
    margin:20px;
    margin-top:100px;
}
    
.images{
    width: 25vw;
    border-radius: 30px;
    z-index:999;
    cursor: pointer;
    -webkit-transition-property: all;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: ease;
    opacity: 85%;
}
.images:hover{
    transform: scale(1.2);
    opacity: 100%;
}
html { scroll-behavior: smooth; }

html
{
    background-image: url('path/to/imagefile.jpg'); 
    background-position:center center;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Smooth Scroll */
html {
    scroll-behavior: smooth;;
  }

/* Title */
#title2 {
    font-size: 30px;
    font-weight: bold;
    color: orange;
    text-shadow: 2px 2px 5px black;
    text-align: center;
    position: relative;
    top: -50px;
}

/* Left side title and picture */
  #containerleft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 55vh;
    text-align: center;
}

#left-side {
    margin-right: 20px;
    padding-left: 50px;
    text-shadow: 0px 2px 10px orange;
    font-family:Dotgothic16;
    font-size: larger;
}

#left-side img {
    max-width: 100%;
    max-height: 50vh;
}

/* Right side */

#containerright {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80vh;
    text-align: justify;
}
#right-side {
    margin-left: 20px;
    padding-right: 100px;
    font-family:Dotgothic16;
    text-shadow: 0px 2px 10px orange;
    font-size: larger;
    
}

#right-side img {
    max-width: 100%;
    max-height: 50vh;
}
/* Text align */
#text-containerright {
    text-align: justify;
    text-justify: inter-word;
    margin-right: 20px;
    background-color:orange;
    padding: 10px;
    max-width: 500px;
    border-radius: 10px;
    margin-top: 50px;
}
#text-containerleft {
    text-align: justify;
    text-justify: inter-word;
    margin-right: 20px;
    background-color: orange;
    padding: 10px;
    max-width: 500px;
    z-index: 1000;
    border-radius: 10px;
    border-width: 50px, black, transparent;
    margin-top:30px;
}

@keyframes appear {
    from {
      opacity: 0;
      clip-path: inset(0% -100% 0% 0);
    }
    to {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
  }

  @keyframes dissapear {
    from {
      opacity: 1;
      clip-path: inset(0 0 0 0);
    }
    to {
      opacity: 0;
      clip-path: inset(0% -100% 100% 0);
    }
  }

  /* Animation */
#containerleft {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
}

#containerright {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% ;
}

.header {
    animation: dissapear ease-in;
    animation-timeline: view();
    animation-range: exit 0% cover 150% ;
}

/* Unselectable text */

.unselectable {
    user-select: none; /* Standard syntax */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.arts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}



  


  
 
      














